/* line 1, ../../foundation/sass/customstyle.scss */
.container {
  background: #f4e1c3;
  position: relative;
  top: 20px;
  padding: 40px 20px;
}

/* line 8, ../../foundation/sass/customstyle.scss */
.sidebar-l {
  border-right: 4px solid #000;
  height: 1500px;
}

/* HEADER */
/* line 15, ../../foundation/sass/customstyle.scss */
.sections {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* line 20, ../../foundation/sass/customstyle.scss */
.section-link {
  height: 70px;
  margin: 10px 0;
  border-right: 1px solid #000;
}
/* line 25, ../../foundation/sass/customstyle.scss */
.section-link h3 {
  font-size: 0.9em;
  font-family: Helvetica;
}
/* line 30, ../../foundation/sass/customstyle.scss */
.section-link p {
  padding: 0;
  margin: 0;
  font: normal 0.7em/1.2em "Helvetica";
}

/* line 37, ../../foundation/sass/customstyle.scss */
.last-section-link {
  border-right: none;
}

/* line 41, ../../foundation/sass/customstyle.scss */
.news-ticker {
  padding: 5px 0;
  border-bottom: 1px dotted #000;
}
/* line 44, ../../foundation/sass/customstyle.scss */
.news-ticker a {
  font-size: 0.8em;
  color: #000;
}

/* line 50, ../../foundation/sass/customstyle.scss */
.section-title {
  padding: 10px 0;
  border-bottom: 8px solid #000;
}
/* line 54, ../../foundation/sass/customstyle.scss */
.section-title h1 {
  padding: 0;
  margin: 0;
  text-align: right;
  font: 400 6em "ltc-bodoni-175", "Helvetica Neue";
}

/* MAIN CONTENT */
/* line 68, ../../foundation/sass/customstyle.scss */
.news-item h4 {
  font-size: 0.9em;
  color: #49827e;
  padding: 0;
  margin: 0;
}
/* line 74, ../../foundation/sass/customstyle.scss */
.news-item h4 .time {
  color: #999;
  font-size: 0.8em;
}
/* line 79, ../../foundation/sass/customstyle.scss */
.news-item h3 {
  padding: 2px 0 0 0;
  margin: 0;
  font-size: 1.4em;
  line-height: 1em;
}
/* line 85, ../../foundation/sass/customstyle.scss */
.news-item p {
  padding: 5px 0 0 0;
  font: normal 1em/1.4em Helvetica;
}
/* line 90, ../../foundation/sass/customstyle.scss */
.news-item .news-link {
  color: #000;
  font-weight: 600;
  font-family: "garamond-premier-pro-display", "ltc-bodoni-175";
}
/* line 94, ../../foundation/sass/customstyle.scss */
.news-item .news-link:hover {
  color: #49827e;
}

/* line 101, ../../foundation/sass/customstyle.scss */
.main-headline h3 {
  font-size: 2em;
}
/* line 104, ../../foundation/sass/customstyle.scss */
.main-headline p {
  font-weight: normal;
  font-size: 1em/1.4em;
}

/* line 110, ../../foundation/sass/customstyle.scss */
.sidebar-r {
  background: #ced2c3;
}
/* line 113, ../../foundation/sass/customstyle.scss */
.sidebar-r p {
  font-size: 1.2em;
}

/* line 119, ../../foundation/sass/customstyle.scss */
.r-section-header h4 {
  text-align: right;
  font-size: 1.6em;
  border-bottom: 4px solid #000;
}

/* line 127, ../../foundation/sass/customstyle.scss */
.featured-videos-header h4 {
  text-align: right;
  font-size: 1.6em;
  border-top: 4px solid #000;
}

/* line 134, ../../foundation/sass/customstyle.scss */
.article-list {
  list-style: none;
  padding: 5px 0;
}
/* line 137, ../../foundation/sass/customstyle.scss */
.article-list li {
  border-top: 1px solid #000;
  margin: 2px 0;
}
/* line 141, ../../foundation/sass/customstyle.scss */
.article-list li a {
  display: block;
  font-size: 1em;
  color: #000;
  font-weight: bold;
}

/* line 150, ../../foundation/sass/customstyle.scss */
.sub-nav {
  margin-bottom: 2px;
}
/* line 152, ../../foundation/sass/customstyle.scss */
.sub-nav dd {
  padding: 0;
  margin-bottom: 1px;
}
/* line 156, ../../foundation/sass/customstyle.scss */
.sub-nav dd.active a {
  background: #000;
}
/* line 159, ../../foundation/sass/customstyle.scss */
.sub-nav a {
  font-size: 0.8em;
  padding: 0.1875em 0.5625em;
}
/* line 163, ../../foundation/sass/customstyle.scss */
.sub-nav a:hover {
  background: #000;
  cursor: pointer !important;
  color: #fff;
}

/* line 171, ../../foundation/sass/customstyle.scss */
.featured-videos {
  padding: 5px 0;
  margin-bottom: 10px;
  height: 330px;
}

/* line 178, ../../foundation/sass/customstyle.scss */
.specials {
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  padding: 5px 10px;
}
/* line 183, ../../foundation/sass/customstyle.scss */
.specials h2 {
  font-family: 'ltc-bodoni-175';
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.4em;
}

/* line 192, ../../foundation/sass/customstyle.scss */
.special-item h4 {
  width: 170px;
  font-size: 1.1em;
  font-family: 'garamond-premier-pro-display';
  font-weight: 400;
}

/* line 201, ../../foundation/sass/customstyle.scss */
.subsection {
  margin: 10px 0;
  padding: 0 5px;
}
/* line 205, ../../foundation/sass/customstyle.scss */
.subsection header img {
  float: left;
  margin-right: 10px;
}
/* line 210, ../../foundation/sass/customstyle.scss */
.subsection .subsection-header {
  padding: 0;
}
/* line 215, ../../foundation/sass/customstyle.scss */
.subsection h5, .subsection h4 {
  font-size: 0.7em;
  color: #49827e;
  padding: 0 0 0 0;
  margin: 0;
}
/* line 221, ../../foundation/sass/customstyle.scss */
.subsection h5 .time, .subsection h4 .time {
  color: #999;
  font-size: 0.8em;
}
/* line 226, ../../foundation/sass/customstyle.scss */
.subsection h3 {
  font-size: 1.1em;
}
/* line 229, ../../foundation/sass/customstyle.scss */
.subsection p {
  font-size: 0.8em;
  padding: 5px 0 0 0;
}
/* line 233, ../../foundation/sass/customstyle.scss */
.subsection ul {
  list-style: none;
}

/* line 240, ../../foundation/sass/customstyle.scss */
.more-stories-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
/* line 244, ../../foundation/sass/customstyle.scss */
.more-stories-list li {
  border-top: 1px solid #000;
}
/* line 247, ../../foundation/sass/customstyle.scss */
.more-stories-list li a {
  color: #000;
  font-size: 0.8em;
}
/* line 251, ../../foundation/sass/customstyle.scss */
.more-stories-list li a:hover {
  font-weight: bold;
}

/* line 260, ../../foundation/sass/customstyle.scss */
.more-stories-sub-header h4 {
  font-size: 1.2em;
  font-weight: bold;
  border-top: 2px solid #000;
  text-align: left;
}

/* custom player skin */
/* line 271, ../../foundation/sass/customstyle.scss */
.flowplayer {
  width: 90%;
  background-color: #ced2c3;
  background-size: cover;
  max-width: 800px;
}

/* line 272, ../../foundation/sass/customstyle.scss */
.flowplayer .fp-controls {
  background-color: #eeeeee;
}

/* line 273, ../../foundation/sass/customstyle.scss */
.flowplayer .fp-timeline {
  background-color: #cccccc;
}

/* line 274, ../../foundation/sass/customstyle.scss */
.flowplayer .fp-progress {
  background-color: #111111;
}

/* line 275, ../../foundation/sass/customstyle.scss */
.flowplayer .fp-buffer {
  background-color: #f9f9f9;
}

/* line 276, ../../foundation/sass/customstyle.scss */
.flowplayer {
  background-image: url(http://farm5.staticflickr.com/4044/4573206402_f625209528_b.jpg);
}
