/* line 1, ../../foundation/sass/customstyle.scss */
.container {
  background: #f4e1c3;
  position: relative;
  top: 20px;
  padding: 40px 20px;
}

/* line 8, ../../foundation/sass/customstyle.scss */
.sidebar-l {
  border-right: 4px solid #000;
  height: 1500px;
}

/* HEADER */
/* line 15, ../../foundation/sass/customstyle.scss */
.sections {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* line 20, ../../foundation/sass/customstyle.scss */
.section-link {
  height: 70px;
  margin: 10px 0;
  border-right: 1px solid #000;
}
/* line 25, ../../foundation/sass/customstyle.scss */
.section-link h3 {
  font-size: 0.9em;
  font-family: Helvetica;
}
/* line 30, ../../foundation/sass/customstyle.scss */
.section-link p {
  padding: 0;
  margin: 0;
  font: normal 0.7em/1.2em "Helvetica";
}

/* line 37, ../../foundation/sass/customstyle.scss */
.last-section-link {
  border-right: none;
}

/* line 41, ../../foundation/sass/customstyle.scss */
.news-ticker {
  padding: 5px 5px;
  border-bottom: 1px dotted #000;
  font-size: 0.8em;
}

/* line 47, ../../foundation/sass/customstyle.scss */
.section-title {
  border-bottom: 8px solid #000;
  margin: 5px 0;
}
/* line 51, ../../foundation/sass/customstyle.scss */
.section-title h1 {
  text-align: right;
  font: 400 6em "ltc-bodoni-175", "Helvetica Neue";
  padding: 5px 0;
  margin: 0;
}

/* MAIN CONTENT */
/* line 63, ../../foundation/sass/customstyle.scss */
.main-content {
  padding-left: 0 !important;
}

/* line 69, ../../foundation/sass/customstyle.scss */
.news-item h4 {
  font-size: 0.9em;
  color: #49827e;
  padding: 0;
  margin: 0;
}
/* line 75, ../../foundation/sass/customstyle.scss */
.news-item h4 .time {
  color: #999;
  font-size: 0.8em;
}
/* line 80, ../../foundation/sass/customstyle.scss */
.news-item h3 {
  padding: 2px 0 0 0;
  margin: 0;
  font-size: 1.4em;
  line-height: 1em;
}
/* line 86, ../../foundation/sass/customstyle.scss */
.news-item p {
  padding: 5px 0 0 0;
  font: normal 1em/1.4em Helvetica;
}
/* line 91, ../../foundation/sass/customstyle.scss */
.news-item .news-link {
  color: #000;
  font-weight: 600;
  font-family: "garamond-premier-pro-display", "ltc-bodoni-175";
}
/* line 95, ../../foundation/sass/customstyle.scss */
.news-item .news-link:hover {
  color: #49827e;
}

/* line 102, ../../foundation/sass/customstyle.scss */
.main-headline h3 {
  font-size: 2em;
}
/* line 105, ../../foundation/sass/customstyle.scss */
.main-headline p {
  font-weight: normal;
  font-size: 1em/1.4em;
}

/* line 114, ../../foundation/sass/customstyle.scss */
.sidebar-r {
  background: #ced2c3;
}
/* line 118, ../../foundation/sass/customstyle.scss */
.sidebar-r .r-section h4 {
  text-align: right;
  border-bottom: 2px solid #000;
}
/* line 123, ../../foundation/sass/customstyle.scss */
.sidebar-r .r-section p {
  font-size: 1.2em;
}

/* line 129, ../../foundation/sass/customstyle.scss */
.article-list {
  border-top: 1px solid #000;
  list-style: none;
  padding: 5px 0;
}
/* line 133, ../../foundation/sass/customstyle.scss */
.article-list li {
  border-bottom: 1px solid #000;
  font-size: 0.7em;
  margin: 2px 0;
}
/* line 138, ../../foundation/sass/customstyle.scss */
.article-list li a {
  display: block;
  color: #000;
}
/* line 141, ../../foundation/sass/customstyle.scss */
.article-list li a:hover {
  font-weight: bold;
}

/* line 148, ../../foundation/sass/customstyle.scss */
.sub-nav {
  margin-bottom: 2px;
}
/* line 150, ../../foundation/sass/customstyle.scss */
.sub-nav dd {
  padding: 0;
  margin-bottom: 1px;
}
/* line 154, ../../foundation/sass/customstyle.scss */
.sub-nav dd.active a {
  background: #000;
}
/* line 157, ../../foundation/sass/customstyle.scss */
.sub-nav a {
  font-size: 0.8em;
  padding: 0.1875em 0.5625em;
}
/* line 161, ../../foundation/sass/customstyle.scss */
.sub-nav a:hover {
  background: #000;
  cursor: pointer !important;
  color: #fff;
}

/* line 169, ../../foundation/sass/customstyle.scss */
.featured-videos {
  padding: 5px 0;
  margin-bottom: 10px;
  height: 330px;
}

/* line 176, ../../foundation/sass/customstyle.scss */
.specials {
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  padding: 5px 10px;
}
/* line 181, ../../foundation/sass/customstyle.scss */
.specials h2 {
  font-family: 'ltc-bodoni-175';
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.4em;
}

/* line 190, ../../foundation/sass/customstyle.scss */
.special-item h4 {
  width: 170px;
  font-size: 1.1em;
  font-family: 'garamond-premier-pro-display';
  font-weight: 400;
}

/* line 199, ../../foundation/sass/customstyle.scss */
.subsection {
  margin: 10px 0;
  padding: 0 5px;
}
/* line 203, ../../foundation/sass/customstyle.scss */
.subsection header img {
  float: left;
  margin-right: 10px;
}
/* line 208, ../../foundation/sass/customstyle.scss */
.subsection .subsection-header {
  padding: 0;
}
/* line 213, ../../foundation/sass/customstyle.scss */
.subsection h5, .subsection h4 {
  font-size: 0.7em;
  color: #49827e;
  padding: 0 0 0 0;
  margin: 0;
}
/* line 219, ../../foundation/sass/customstyle.scss */
.subsection h5 .time, .subsection h4 .time {
  color: #999;
  font-size: 0.8em;
}
/* line 224, ../../foundation/sass/customstyle.scss */
.subsection h3 {
  font-size: 1.1em;
}
/* line 227, ../../foundation/sass/customstyle.scss */
.subsection p {
  font-size: 0.8em;
  padding: 5px 0 0 0;
}
/* line 231, ../../foundation/sass/customstyle.scss */
.subsection ul {
  list-style: none;
}

/* custom player skin */
/* line 240, ../../foundation/sass/customstyle.scss */
.flowplayer {
  width: 90%;
  background-color: #222;
  background-size: cover;
  max-width: 800px;
}

/* line 241, ../../foundation/sass/customstyle.scss */
.flowplayer .fp-controls {
  background-color: #eeeeee;
}

/* line 242, ../../foundation/sass/customstyle.scss */
.flowplayer .fp-timeline {
  background-color: #cccccc;
}

/* line 243, ../../foundation/sass/customstyle.scss */
.flowplayer .fp-progress {
  background-color: #111111;
}

/* line 244, ../../foundation/sass/customstyle.scss */
.flowplayer .fp-buffer {
  background-color: #f9f9f9;
}

/* line 245, ../../foundation/sass/customstyle.scss */
.flowplayer {
  background-image: url(http://farm5.staticflickr.com/4044/4573206402_f625209528_b.jpg);
}
