/* line 1, ../../foundation/sass/customstyle.scss */
.container {
  background: #f4e1c3;
  position: relative;
  top: 20px;
  padding: 40px 20px;
}

/* line 8, ../../foundation/sass/customstyle.scss */
.sidebar-l {
  border-right: 4px solid #000;
}

/* HEADER */
/* line 15, ../../foundation/sass/customstyle.scss */
.sections {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 110px;
}

/* line 21, ../../foundation/sass/customstyle.scss */
.section-link {
  height: 70px;
  margin: 5px 0;
}
/* line 25, ../../foundation/sass/customstyle.scss */
.section-link a {
  display: block;
  width: 100%;
  color: #000;
  padding: 10px;
}
/* line 32, ../../foundation/sass/customstyle.scss */
.section-link a:hover {
  background: #ced2c3;
  color: #fff !important;
}
/* line 37, ../../foundation/sass/customstyle.scss */
.section-link a header {
  font-size: 1em;
  font-weight: bold;
}
/* line 42, ../../foundation/sass/customstyle.scss */
.section-link a p {
  padding: 10px 0 0 0;
  margin: 0;
  font: normal 0.7em/1.2em "Helvetica";
}

/* line 50, ../../foundation/sass/customstyle.scss */
.last-section-link {
  border-right: none;
}

/* line 54, ../../foundation/sass/customstyle.scss */
.news-ticker {
  padding: 5px 0;
  border-bottom: 1px dotted #000;
}
/* line 57, ../../foundation/sass/customstyle.scss */
.news-ticker a {
  font-size: 0.8em;
  color: #000;
}

/* line 63, ../../foundation/sass/customstyle.scss */
.section-title {
  padding: 10px 0;
}
/* line 67, ../../foundation/sass/customstyle.scss */
.section-title header {
  border-bottom: 8px solid #000;
}
/* line 69, ../../foundation/sass/customstyle.scss */
.section-title header h1 {
  padding: 0;
  margin: 0;
  text-align: right;
  font: 400 6em "ltc-bodoni-175", "Helvetica Neue";
}

/* MAIN CONTENT */
/* line 80, ../../foundation/sass/customstyle.scss */
.section-content {
  padding: 10px 0;
}

/* line 86, ../../foundation/sass/customstyle.scss */
.news-item {
  padding: 5px 0 0 0;
}
/* line 90, ../../foundation/sass/customstyle.scss */
.news-item header h1 {
  padding: 2px 0 0 0;
  margin: 0;
  font-size: 1.6em;
  line-height: 1em;
}
/* line 96, ../../foundation/sass/customstyle.scss */
.news-item header a {
  color: #000;
  font-weight: 600;
  font-family: "garamond-premier-pro-display", "ltc-bodoni-175";
}
/* line 100, ../../foundation/sass/customstyle.scss */
.news-item header a:hover {
  color: #49827e;
}
/* line 106, ../../foundation/sass/customstyle.scss */
.news-item p {
  padding: 5px 0 0 0;
  font: normal 1em/1.4em Helvetica;
}

/* line 114, ../../foundation/sass/customstyle.scss */
.news-item-label {
  font-size: 0.8em;
  font-weight: bold;
  color: #49827e;
}
/* line 119, ../../foundation/sass/customstyle.scss */
.news-item-label .time {
  color: #999;
  font-size: 0.7em;
  margin-left: 5px;
}

/* line 128, ../../foundation/sass/customstyle.scss */
.main-headline header h1 {
  font-size: 2em;
}
/* line 133, ../../foundation/sass/customstyle.scss */
.main-headline p {
  font-weight: normal;
  font-size: 1em/1.4em;
}

/* line 139, ../../foundation/sass/customstyle.scss */
.sidebar-r {
  box-sizing: border-box;
  background: #ced2c3;
  padding: 10px 10px;
}
/* line 144, ../../foundation/sass/customstyle.scss */
.sidebar-r p {
  font-size: 1.2em;
}

/* line 151, ../../foundation/sass/customstyle.scss */
.r-section-header h1 {
  text-align: right;
  font-size: 1.6em;
  border-bottom: 4px solid #000;
}

/* line 159, ../../foundation/sass/customstyle.scss */
.featured-videos-header h1 {
  text-align: right;
  font-size: 1.6em;
  border-top: 4px solid #000;
}

/* line 166, ../../foundation/sass/customstyle.scss */
.article-list {
  list-style: none;
  padding: 5px 0;
}
/* line 169, ../../foundation/sass/customstyle.scss */
.article-list li {
  border-top: 1px solid #000;
  margin: 2px 0;
}
/* line 173, ../../foundation/sass/customstyle.scss */
.article-list li a {
  display: block;
  font-size: 1em;
  color: #000;
  font-weight: bold;
}

/* line 182, ../../foundation/sass/customstyle.scss */
.sub-nav {
  margin-bottom: 2px;
}
/* line 184, ../../foundation/sass/customstyle.scss */
.sub-nav dd {
  padding: 0;
  margin-bottom: 1px;
}
/* line 188, ../../foundation/sass/customstyle.scss */
.sub-nav dd.active a {
  background: #000;
}
/* line 191, ../../foundation/sass/customstyle.scss */
.sub-nav a {
  font-size: 0.8em;
  padding: 0.1875em 0.5625em;
}
/* line 195, ../../foundation/sass/customstyle.scss */
.sub-nav a:hover {
  background: #000;
  cursor: pointer !important;
  color: #fff;
}

/* line 203, ../../foundation/sass/customstyle.scss */
.featured-videos {
  padding: 5px 0;
  margin-bottom: 10px;
  height: 330px;
}

/* line 210, ../../foundation/sass/customstyle.scss */
.specials {
  padding: 5px 10px;
}
/* line 213, ../../foundation/sass/customstyle.scss */
.specials header {
  border-top: 4px solid #000;
}
/* line 217, ../../foundation/sass/customstyle.scss */
.specials h1 {
  font: bold 1.4em 'Helvetica', 'ltc-bodoni-175', serif;
}
/* line 222, ../../foundation/sass/customstyle.scss */
.specials h2 {
  width: 170px;
  font-size: 1.1em;
  font-family: 'garamond-premier-pro-display';
  font-weight: 400;
}
/* line 228, ../../foundation/sass/customstyle.scss */
.specials hr {
  height: 4px;
  color: #000;
  background-color: #000;
}

/* line 235, ../../foundation/sass/customstyle.scss */
.subsection {
  margin: 10px 0;
  padding: 0 5px;
}
/* line 239, ../../foundation/sass/customstyle.scss */
.subsection header img {
  float: left;
  margin-right: 10px;
}
/* line 244, ../../foundation/sass/customstyle.scss */
.subsection header {
  padding: 0;
}
/* line 249, ../../foundation/sass/customstyle.scss */
.subsection h2 {
  font-size: 0.7em;
  color: #49827e;
  padding: 0 0 0 0;
  margin: 0;
}
/* line 255, ../../foundation/sass/customstyle.scss */
.subsection h2 .time {
  color: #999;
  font-size: 0.8em;
}
/* line 260, ../../foundation/sass/customstyle.scss */
.subsection h1 {
  font-size: 1.1em;
}
/* line 263, ../../foundation/sass/customstyle.scss */
.subsection p {
  font-size: 0.8em;
  padding: 5px 0 0 0;
}
/* line 267, ../../foundation/sass/customstyle.scss */
.subsection ul {
  list-style: none;
}

/* line 274, ../../foundation/sass/customstyle.scss */
.more-stories-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
/* line 278, ../../foundation/sass/customstyle.scss */
.more-stories-list li {
  border-top: 1px solid #000;
}
/* line 281, ../../foundation/sass/customstyle.scss */
.more-stories-list li a {
  color: #000;
  font-size: 0.8em;
}
/* line 285, ../../foundation/sass/customstyle.scss */
.more-stories-list li a:hover {
  font-weight: bold;
}

/* line 293, ../../foundation/sass/customstyle.scss */
.more-stories {
  padding: 20px 0;
}
/* line 295, ../../foundation/sass/customstyle.scss */
.more-stories header {
  border-top: 4px solid #000;
}
/* line 298, ../../foundation/sass/customstyle.scss */
.more-stories h1 {
  font-size: 1.6em;
}
/* line 302, ../../foundation/sass/customstyle.scss */
.more-stories h2 {
  font-size: 1.2em;
  font-weight: bold;
  border-top: 2px solid #000;
  text-align: left;
}

/* line 310, ../../foundation/sass/customstyle.scss */
.sidebar-l-section-header {
  font-size: 1.1em;
  border-bottom: 2px solid #000;
}

/* line 316, ../../foundation/sass/customstyle.scss */
.stock-ticker {
  margin: 20px 0 40px 0;
}

/* line 321, ../../foundation/sass/customstyle.scss */
ul.markets-list {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}
/* line 325, ../../foundation/sass/customstyle.scss */
ul.markets-list li {
  margin: 5px 0;
}
/* line 328, ../../foundation/sass/customstyle.scss */
ul.markets-list h2 {
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}
/* line 333, ../../foundation/sass/customstyle.scss */
ul.markets-list h3 {
  font-weight: normal;
  font-size: 0.7em;
  color: #999;
  text-transform: uppercase;
  margin: 0;
  padding: 0 5px;
}

/* line 346, ../../foundation/sass/customstyle.scss */
.market-down h2 {
  color: #db4b39;
}
/* line 348, ../../foundation/sass/customstyle.scss */
.market-down h2 i {
  font-size: 0.6em;
  margin-right: 5px;
}
/* line 354, ../../foundation/sass/customstyle.scss */
.market-down span {
  margin-left: 5px;
  color: #db4b39;
}

/* line 361, ../../foundation/sass/customstyle.scss */
.market-up h2 {
  color: #3d9400;
}
/* line 363, ../../foundation/sass/customstyle.scss */
.market-up h2 i {
  font-size: 0.6em;
  margin-right: 5px;
}
/* line 368, ../../foundation/sass/customstyle.scss */
.market-up span {
  margin-left: 5px;
  color: #3d9400;
}

/* line 374, ../../foundation/sass/customstyle.scss */
input.quote-input {
  margin: 15px 0;
  height: 25px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  width: 90%;
  padding: 10px;
  font-size: 0.7em;
  border: 1px solid #ced2c3;
}

/* line 386, ../../foundation/sass/customstyle.scss */
.comic-strip {
  margin: 30px 0 30px 0;
}

/* line 390, ../../foundation/sass/customstyle.scss */
.poll {
  margin-bottom: 30px;
}
/* line 392, ../../foundation/sass/customstyle.scss */
.poll .question {
  padding-right: 10px;
}
/* line 394, ../../foundation/sass/customstyle.scss */
.poll .question p {
  font-size: 0.9em;
}
/* line 398, ../../foundation/sass/customstyle.scss */
.poll .question span.choice {
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  margin-bottom: 5px;
}

/* line 407, ../../foundation/sass/customstyle.scss */
.ad {
  margin-bottom: 30px;
}
/* line 409, ../../foundation/sass/customstyle.scss */
.ad h2 {
  font-size: 0.7em;
  text-transform: uppercase;
  color: #999;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* line 419, ../../foundation/sass/customstyle.scss */
.meter {
  background: #000 !important;
}

/* line 423, ../../foundation/sass/customstyle.scss */
.hidden {
  display: none;
}

/* custom player skin */
/* line 431, ../../foundation/sass/customstyle.scss */
.flowplayer {
  width: 90%;
  background-color: #ced2c3;
  background-size: cover;
  max-width: 800px;
}

/* line 432, ../../foundation/sass/customstyle.scss */
.flowplayer .fp-controls {
  background-color: #eeeeee;
}

/* line 433, ../../foundation/sass/customstyle.scss */
.flowplayer .fp-timeline {
  background-color: #cccccc;
}

/* line 434, ../../foundation/sass/customstyle.scss */
.flowplayer .fp-progress {
  background-color: #111111;
}

/* line 435, ../../foundation/sass/customstyle.scss */
.flowplayer .fp-buffer {
  background-color: #f9f9f9;
}

/* line 436, ../../foundation/sass/customstyle.scss */
.flowplayer {
  background-image: url(http://farm5.staticflickr.com/4044/4573206402_f625209528_b.jpg);
}
