
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>A redesign</title>

  <link rel="stylesheet" href="/static/css/normalize.css" />
  
  <link rel="stylesheet" href="/static/css/app.css" />
  <link rel="stylesheet" href="/static/css/customstyle.css">
  <link rel="stylesheet" href="/static/css/general_foundicons.css">
  <link rel="stylesheet" href="/static/css/social_foundicons.css">

   <!-- player skin -->
   <link rel="stylesheet" type="text/css"
      href="http://releases.flowplayer.org/5.3.2/skin/minimalist.css" />
   <link rel="stylesheet" type="text/css" href="http://flowplayer.org/designer/playlist.css" />

  <script src="/static/js/vendor/custom.modernizr.js"></script>

  <script type="text/javascript" src="//use.typekit.net/jsc1gzv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


</head>
<body>
	<div class="fixed">
		<nav class="top-bar hidden">
		  <ul class="title-area">
		    <!-- Title Area -->
		    <li class="name">
		      <h1><a href="/">ET</a></h1>
		    </li>
		    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		  </ul>

		  <section class="top-bar-section">
		    <!-- Left Nav Section -->
		    <ul class="left">
		      <li class="divider"></li>
		      <li><a href="/">Markets</a></li>
		      <li class="divider"></li>
		      <li><a href="/">Technology</a></li>
		      <li class="divider"></li>
		      <li><a href="/">Finance</a>
		      </li>
		      <li class="divider"></li>
		      <li><a href="/">Opinion</a>
		      </li>
		      <li class="divider"></li>
		      <li><a href="/">Features</a>
		      </li>
		      <li class="divider"></li>
		      <li><a href="/">Blog</a>
		      </li>
		      <li class="divider"></li>
		    </ul>
		  </section>
		</nav>
	</div>
	<div class="row container">
		<div class="large-12 columns">
			<div class="row header">
				<div class="large-12 columns">
					<header class="site-header"><h4 class="site-header-article"><a href="/">The Economic Times</a><h4></header>
					<div class="row sections">
						<div class="large-2 columns">
							<section class="section-link">
								<a class="target-section" href="/">
									<header>Markets</header>
								</a>
								
									<p><a class="target-headline" href="/article">SENSEX reaches record-high</a></p>
								
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link">
								<a class="target-section" href="/">
									<header>Technology</header>
								</a>
								
									<p><a class="target-headline" href="/article">Infy blah blah</a></p>
								
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link">
								<a class="target-section" href="/">
									<header>Finance</header>
								</a>
								
									<p><a class="target-headline" href="/article">NIFTY reaches record-high</a></p>
								
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link">
								<a class="target-section" href="/">
									<header>Opinion</header>
								</a>
								
									<p><a class="target-headline" href="/article">ET Special Editor Warren Buffett on India's future</a></p>
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link">
								<a class="target-section" href="/">
									<header>Features</header>
								</a>
								
									<p><a class="target-headline" href="/article">Adweek India welcomes the Mad Men</a></p>
								
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link last-section-link">
								<a class="target-section" href="/">
									<header>Blogs</header>
								</a>
								
									<p><a class="target-headline" href="/article">Tinsel town boy, Ravi Kumar, shines big at box office</a></p>
								
							</section>
						</div>
					</div>
					<div class="row news-ticker">
						<div class="large-4 columns">
							<a href="#">> Brazil calls for emergency G8 meeting </a>
						</div>
						<div class="large-4 columns">
							<a href="#">> N Korea in nuclear deal talks with US</a>
						</div>
						<div class="large-4 columns">
							<a href="#">> Facebook Q4 beats expectations</a>
						</div>
					</div>
					<div class="row section-title-article">
						<div class="large-12 columns">
							<header>
								<h1>Technology</h1>
							</header>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns main-c">
					<div class="row section-content">
						<div class="large-12 columns">
							
							<div class="row">
								<div class="large-12 columns">

									<section class="article-container">
										<article>
												<h1>The Infosys that India needs</h1>
												
												<div class="row">
													<div class="large-12 columns">
														<img src="/static/img/infosys.jpeg" width="100%">
													</div>
												</div>
												<h3>While Infosys needs the first Infy story to look better, India needs the second Infy story to get ahead in the global economy. Some people have lost hope. To get that hope back, India needs another Infosys.</h3>


											<div class="row article-content">
												<div class="large-8 columns">
													<p>No Indian has ever gone to a market and bought an InfosysBSE -21.33 % product, but the company that Mr Narayana Murthy built is dear to most Indians.
													</p>
													<p>There have always been two sides to the Infosys story. One is the pureplay IT narrative. Most people, including many of the company's small shareholders, don't completely understand this story. Everyone understands — and loves — the second story. A company founded by a small bunch of middle-class professionals, who demonstrated it was possible to generate tremendous wealth in a short time while being honest and transparent — and, amazingly, this could be done in India.
													</p>
													<p>You did not need to siphon money, you did not need to grease palms, you did not need a wealthy father. Hard work, honesty and integrity could create a successful company and make its founders rich beyond imagination. In fact, in the early years of liberalisation, this was a powerful and inspirational message for many young entrepreneurs.
													</p>
													<p>Dhirubhai Ambani may have been the father of India's equity cult and the original darling of small investors, but it was Infosys, with its commitment to corporate governance, its stringent disclosure norms and its ability to beat street estimates, quarter after quarter, which caught the fancy of FIIs and set the markets on fire in the 1990s.
													</p>
													<p>It was Infosys, thanks to its generous Esops, that pretty much pioneered the making of millionaires out of employees. Sure, there was an element of hype, but the central theme of this story was real.
													</p>
													<p>It's, of course, no longer the same Infosys — the first Infy story, the IT pure-play one, has changed. What happened last Friday — the stock was hammered by investors — was a scary and the latest chapter in the changing Infosys IT story. Organic revenues fell in the last quarter, operating margins worsened and the company missed its organic revenue target for the year. Over the weekend, the analysis and commentary that appeared in the newspapers were critical — and uncharitable.</p>
												</div>
												<div class="large-4 columns">
													<div class="sidebar-r">
														<header class="related-section-header"><h2>Related</h2></header>
														
														<ul class="article-list">
															<li><a href="/article">Surging India sales may propel Apple's topline to over $1 bn</a></li>
															<li><a href="#">Software that tracks what you think</a></li>
															<li><a href="#">Facebook to launch redesign next week</a></li>
															<li><a href="#">Google, EU near deal on search probe: Report</a></li>
															<li><a href="#">Wipro's Azim Premji speaks defends Infosys</a></li>
															<li><a href="#">IIT Delhi students create app to report corrupt officials</a></li>
															<li><a href="#">Blipkart to launch next version of platform</a></li>
															<li><a href="#">The Infosys that India needs</a></li>
															<li><a href="#">Obama uses Pair app to talk to his wife: an ET exclusive</a></li>
															<li><a href="#">HCL Technologies stocks skyrocket in wake of Infosys plunge</a></li>
														</ul>

														<section class="article-ad ad">
															<h2>SPONSORED</h2>
															<img src="http://placehold.it/200x600">
														</section>
													</div>
												</div><!-- end r-section -->
											</div><!-- end sidebar-r -->
										</article>
									</section>
									
								</div>
							</div>
		
			
						</div>
						
						
					</div><!-- end section-content -->

					
				</div><!-- end main 10-column grid -->
				
			</div><!-- end main-content-1 -->
		</div><!-- end 10-column grid -->
	</div><!-- end container -->

	<div class="row footer">
		<div class="large-12 columns">
				<h6>This is a redesign concept of <a href="http://economictimes.indiatimes.com">The Economic Times</a> by <a href="http://twitter.com/sidjha">@sidjha</a>, a partner at <a href="http://designbyroti.com">Roti</a>.</h6>
		</div>
	</div>


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/static/js/vendor/zepto' : '/static/js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="/static/js/foundation/foundation.js"></script>
  <script src="/static/js/foundation/foundation.topbar.js"></script>
   <script src="/static/js/et.js"></script>
  <script>
    $(document).foundation();
  </script>

   <!-- flowplayer depends on jQuery 1.7.1+ -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
     <!-- flowplayer javascript component -->
   <script src="http://releases.flowplayer.org/5.3.2/flowplayer.min.js"></script>




  

  <!--
	<script src="/static/js/foundation/foundation.alerts.js"></script>
	
	<script src="/static/js/foundation/foundation.clearing.js"></script>
	
	<script src="javascripts/foundation/foundation.cookie.js"></script>
	
	<script src="javascripts/foundation/foundation.dropdown.js"></script>
	
	<script src="javascripts/foundation/foundation.forms.js"></script>
	
	<script src="javascripts/foundation/foundation.joyride.js"></script>
	
	<script src="javascripts/foundation/foundation.magellan.js"></script>
	
	<script src="javascripts/foundation/foundation.orbit.js"></script>
	
	<script src="javascripts/foundation/foundation.placeholder.js"></script>
	
	<script src="javascripts/foundation/foundation.reveal.js"></script>
	
	 <script src="/static/js/foundation/foundation.section.js"></script>
	
	<script src="javascripts/foundation/foundation.tooltips.js"></script>
	
	<script src="javascripts/foundation/foundation.topbar.js"></script>
-->
</body>
</html>
