
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>A redesign</title>
  <meta name="description" content="A redesign of economictimes.com by Siddharth Jha, Partner at Roti">
<meta name="viewport" content="width=device-width">

<meta property="og:title" content="Redesign of economictimes.com"/>
<meta property="og:url" content="http://etredesign.herokuapp.com/"/>
<meta property="og:image" content="http://etredesign.herokuapp.com/static/img/et-redesign.png"/>
<meta property="og:site_name" content="ET Redesign"/>
<meta property="og:description"
      content="A redesign of economictimes.com by Siddharth Jha, Partner at Roti"/>

  <link rel="stylesheet" href="/static/css/normalize.css" />
  
  <link rel="stylesheet" href="/static/css/app.css" />
  <link rel="stylesheet" href="/static/css/customstyle.css">
  <link rel="stylesheet" href="/static/css/general_foundicons.css">
  <link rel="stylesheet" href="/static/css/social_foundicons.css">



   <!-- player skin -->
   <link rel="stylesheet" type="text/css"
      href="http://releases.flowplayer.org/5.3.2/skin/minimalist.css" />
   <link rel="stylesheet" type="text/css" href="http://flowplayer.org/designer/playlist.css" />

  <script src="/static/js/vendor/custom.modernizr.js"></script>

  <script type="text/javascript" src="//use.typekit.net/jsc1gzv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


</head>
<body>
	<div class="fixed">
		<nav class="top-bar hidden">
		  <ul class="title-area">
		    <!-- Title Area -->
		    <li class="name">
		      <h1><a href="/">ET</a></h1>
		    </li>
		    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		  </ul>

		  <section class="top-bar-section">
		    <!-- Left Nav Section -->
		    <ul class="left">
		      <li class="divider"></li>
		      <li><a href="/">Markets</a></li>
		      <li class="divider"></li>
		      <li><a href="/">Technology</a></li>
		      <li class="divider"></li>
		      <li><a href="/">Finance</a>
		      </li>
		      <li class="divider"></li>
		      <li><a href="/">Opinion</a>
		      </li>
		      <li class="divider"></li>
		      <li><a href="/">Features</a>
		      </li>
		      <li class="divider"></li>
		      <li><a href="/">Blog</a>
		      </li>
		      <li class="divider"></li>
		    </ul>
		  </section>
		</nav>
	</div>

	<div class="row container">
	    <div class="large-2 columns">
			<section class="sidebar-l">
				<section class="ad ad-top-left">
					<img src="http://placehold.it/120x240px">
				</section>
				<section class="stock-ticker">
					<h1 class="sidebar-l-section-header">Markets</h1>
					<dl class="sub-nav">
					  <dd class="active" id="asia-header"><a href="#" id="target-asia">ASIA	</a></dd>
					  <dd id="eur-header"><a href="#" id="target-eur">EUR</a></dd>
					  <dd id="us-header"><a href="#" id="target-us">US</a></dd>
					</dl>
					<ul class="markets-list" id="asia-markets">
						<li class="market-down">
							<h2><i class="general foundicon-down-arrow"></i>18242.56</h2>
							<h3>SENSEX<span>-299.64</span></h3>
						</li>
						<li class="market-down">
							<h2><i class="general foundicon-down-arrow"></i>5528.55</h2>
							<h3>NIFTY<span>-65.45</span></h3>
						</li>
						<li class="market-down">
							<h2><i class="general foundicon-down-arrow"></i>13485.14</h2>
							<h3>NIKKEI<span>-64.02</span></h3>
						</li>
						<li class="market-up">
							<h2><i class="general foundicon-up-arrow"></i>2206.78</h2>
							<h3>Shanghai<span>+12.77</h3>
						</li>
					</ul>
					<ul class="markets-list hidden" id="us-markets">
						<li class="market-down">
							<h2><i class="general foundicon-down-arrow"></i>3294.945</h2>
							<h3>NASDAQ<span>-5.21</span></h3>
						</li>
						<li class="market-down">
							<h2><i class="general foundicon-down-arrow"></i>1588.85</h2>
							<h3 class="">S&P500<span>-4.52</span></h3>
						</li>
						<li class="market-up">
							<h2><i class="general foundicon-up-arrow"></i>14865.06</h2>
							<h3>Dow Jones<span>+0.08</span></h3>
						</li>
						
					</ul>
					<ul class="markets-list hidden" id="eur-markets">
						<li class="market-down">
							<h2><i class="general foundicon-down-arrow"></i>6384.39</h2>
							<h3>FTSE 100<span>-31.75</span></h3>
						</li>
						<li class="market-down">
							<h2><i class="general foundicon-down-arrow"></i>7744.77</h2>
							<h3>DAX<span>-126.86</span></h3>
						</li>
						<li class="market-up">
							<h2><i class="general foundicon-up-arrow"></i>2679.30</h2>
							<h3>STOXX<span>+23.25</span></h3>
						</li>
					</ul>
				</section>

				<section class="stock-ticker">
					<h1 class="sidebar-l-section-header">Tech Stocks</h1>
					<ul class="markets-list">
							<li class="market-down">
								<h2><i class="general foundicon-down-arrow"></i>790.05</h2>
								<h3>GOOG<span>-0.34</span></h3>
							</li>
							<li class="market-down">
								<h2><i class="general foundicon-down-arrow"></i>272.87</h2>
								<h3>INFY<span>-11.24</span></h3>
							</li>
							<li class="market-down">
								<h2><i class="general foundicon-down-arrow"></i>429.80</h2>
								<h3>APPL<span>-4.53</span></h3>
							</li>
							<li class="market-up">
								<h2><i class="general foundicon-up-arrow"></i>1511.30</h2>
								<h3>TCS<span>+25.00</span></h3>
							</li>
					</ul>
					<input type="text" class="quote-input" placeholder="Type symbol, enter">

				</section>

				<section class="poll">
					<h2 class="sidebar-l-section-header">Poll</h2>
					<section class="question">
					<p>Will the rupee hit 60/dollar in the next few months?</p>
					<span class="choice">Yes (40%)</span>
					<div class="nice progress"><span class="meter" style="width: 40%"></span></div>
					<span class="choice">No (55%)</span>
					<div class="nice progress"><span class="meter" style="width: 55%"></span></div>
					<span class="choice">Can't say (5%)</span>
					<div class="nice progress"><span class="meter" style="width: 5%"></span></div>
					</section>
				</section>

				<section class="comic-strip">
					<h2 class="sidebar-l-section-header">Comic Relief</h2>
					<img src="/static/img/calvin.jpg" width="120px">
				</section>
				
				<section class="ad">
					<h2>Sponsored</h2>
					<img src="http://placehold.it/120x600px">
				</section>

			

				<section class="ad">
					<h2>Sponsored</h2>
					<img src="http://placehold.it/120x600px">
				</section>
			</section>
			
		</div>
		<div class="large-10 columns">
			<div class="row header">
				<div class="large-12 columns">
					<header class="site-header"><h4><a href="/">The Economic Times</a><h4></header>
					<div class="row sections">
						<div class="large-2 columns">
							<section class="section-link">
								<a class="target-section" href="/">
									<header>Markets</header>
								</a>
								
									<p><a class="target-headline" href="/article">SENSEX reaches record-high</a></p>
								
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link">
								<a class="target-section" href="/">
									<header>Technology</header>
								</a>
								
									<p><a class="target-headline" href="/article">The Infosys that India needs</a></p>
								
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link">
								<a class="target-section" href="/">
									<header>Finance</header>
								</a>
								
									<p><a class="target-headline" href="/article">Mutual Fund investment strategies rising </a></p>
								
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link">
								<a class="target-section" href="/">
									<header>Opinion</header>
								</a>
								
									<p><a class="target-headline" href="/article">ET Special Editor Warren Buffett on India's future</a></p>
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link">
								<a class="target-section" href="/">
									<header>Features</header>
								</a>
								
									<p><a class="target-headline" href="/article">Adweek India welcomes the Mad Men</a></p>
								
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link last-section-link">
								<a class="target-section" href="/">
									<header>Blogs</header>
								</a>
								
									<p><a class="target-headline" href="/article">Tinsel town boy, Ravi Kumar, shines big at box office</a></p>
								
							</section>
						</div>
					</div>
					<div class="row news-ticker">
						<div class="large-4 columns">
							<a href="#">> Brazil calls for emergency G8 meeting </a>
						</div>
						<div class="large-4 columns">
							<a href="#">> N Korea in nuclear deal talks with US</a>
						</div>
						<div class="large-4 columns">
							<a href="#">> Facebook Q4 beats expectations</a>
						</div>
					</div>
					<div class="row section-title">
						<div class="large-12 columns">
							<header>
								<h1>Technology</h1>
							</header>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns main-c">
					<div class="row section-content">
						<div class="large-7 columns">
							<div class="row">
								<div class="large-12 columns">
									<img src="/static/img/infosys.jpeg">
								</div>
							</div>
							<div class="row">
								<div class="large-12 columns">
									<section class="news-item main-headline">
										<span class="news-item-label">ITeS<span class="time">1 hour ago</span></span>
										<header>
											<h1><a class="news-link" href="/article">The Infosys that India needs</a></h1>
										</header>
										<p>While Infosys needs the first Infy story to look better, India needs the second Infy story to get bigger. To get that hope back, India needs another Infosys.</p>
									</section>
								</div>
							</div>
							<div class="row">
								<div class="large-6 small-6 columns">
									<section class="news-item">

										<span class="news-item-label">TELECOM<span class="time">1 hour ago</span></span>

										<header>
											<h1><a class="news-link" href="/article">Surging India sales may propel Apple's topline to over $1 bn</a></h1>
										</header>
										<p>According to latest filings with the Registrar of Companies, Apple India's revenues rose 223% to 2003.9 crore in FY12, from Rs 620 crore a year ago.</p>
									</section>
								</div>
								<div class="large-6 small-6 columns">
									<section class="news-item">
										<span class="news-item-label">Internet<span class="time">50 min ago</span></span>
										<header>
											<h1><a href="/article" class="news-link">Facebook to launch redesign next week</a></h1>
										</header>
										<p>Facebook, the world's largest social network, announced that it would launch a major redesign of the newsfeed next week.</p>
									</section>
								</div>
							</div>
							<div class="row">
								<div class="large-6 small-6 columns">
									<section class="news-item">

										<span class="news-item-label">TELECOM<span class="time">1 hour ago</span></span>

										<header>
											<h1><a class="news-link" href="/article">After EMIs, Samsung offers cash back to woo smartphone buyers </a></h1>
										</header>
										<p>After launching EMI scheme, Korean electronic giant Samsung is now offering 15% cash back on its flagship 'Galaxy' range.</p>
									</section>
								</div>
								<div class="large-6 small-6 columns">
									<section class="news-item">
										<span class="news-item-label">SOFTWARE<span class="time">50 min ago</span></span>
										<header>
											<h1><a href="/article" class="news-link">Software that tracks what you think</a></h1>
										</header>
										<p>Charlie Brown Ventures, the world's leading software manufacturer, revealed videos of their upcoming software platform that can tell what people are actually thinking.</p>
									</section>
								</div>
							</div>
						</div>
						<div class="large-5 columns">
							<div class="sidebar-r">
								<header class="r-section-header"><h1>Popular</h1></header>
								<dl class="sub-nav">
								  <dd class="active" id="most-read-header"><a href="#" id="target-most-read">Most Read</a></dd>
								  <dd id="most-commented-header"><a href="#" id="target-most-commented">Most Commented</a></dd>
								  <dd id="most-shared-header"><a href="#" id="target-most-shared">Most Shared</a></dd>
								</dl>
								<ul class="article-list" id="mostread">
									<li><a href="/article">Obama uses Pair app to talk to his wife: an ET exclusive</a></li>
									<li><a href="#">8-year-old kid creates social network for kids under 13</a></li>
									<li><a href="#">Q2 profits soar among BPO firms</a></li>
									<li><a href="#">HCL Technologies stocks skyrocket in wake of Infosys plunge</a></li>
									<li><a href="#">Airtel buys Canadian mobile startup</a></li>
									<li><a href="#">IIT Delhi students create app to report corrupt officials</a></li>
									<li><a href="#">A NASDAQ of BitCoin?</a></li>
									<li><a href="#">The Infosys that India needs</a></li>
									<li><a href="#">Facebook to launch redesign next week</a></li>
									<li><a href="#">Software that tracks what you think</a></li>
								</ul>
								<ul class="article-list hidden" id="mostcommented">
									<li><a href="/article">Surging India sales may propel Apple's topline to over $1 bn</a></li>
									<li><a href="#">Software that tracks what you think</a></li>
									<li><a href="#">Facebook to launch redesign next week</a></li>
									<li><a href="#">Google, EU near deal on search probe: Report</a></li>
									<li><a href="#">Wipro's Azim Premji speaks defends Infosys</a></li>
									<li><a href="#">IIT Delhi students create app to report corrupt officials</a></li>
									<li><a href="#">Blipkart to launch next version of platform</a></li>
									<li><a href="#">The Infosys that India needs</a></li>
									<li><a href="#">Obama uses Pair app to talk to his wife: an ET exclusive</a></li>
									<li><a href="#">HCL Technologies stocks skyrocket in wake of Infosys plunge</a></li>
								</ul>
								<ul class="article-list hidden" id="mostshared">
									<li><a href="/article">8-year-old kid creates social network for kids under 13</a></li>
									<li><a href="#">Obama uses Pair app to talk to his wife: an ET exclusive</a></li>
									<li><a href="#">Software that tracks what you think</a></li>
									<li><a href="#">The Infosys that India needs</a></li>
									<li><a href="#">IIT Delhi students create app to report corrupt officials</a></li>
									<li><a href="#">A NASDAQ of BitCoin?</a></li>
									<li><a href="#">Airtel launches special international roaming packs</a></li>
									<li><a href="#">Canadian software giant ThinkWorks opens up Bangalore Office</a></li>
									<li><a href="#">Twitter buys music startup We Are Hunted</a></li>
									<li><a href="#">Warren Buffet makes tech predictions for 2014</a></li>
								</ul>
								<div class="featured-videos">
									 <header class="featured-videos-header"><h1>ET Tech</h1></header>
									 <div data-swf="http://releases.flowplayer.org/5.3.2/flowplayer.swf" class="flowplayer no-toggle aside-time no-volume color-light" style="width: 307px; height: 213px;" class="featured-vid">
									      <video>
									         <source type="video/webm" src="http://stream.flowplayer.org/bauhaus/624x260.webm"/>
									         <source type="video/mp4" src="http://stream.flowplayer.org/bauhaus/624x260.mp4"/>
									         <source type="video/ogv" src="http://stream.flowplayer.org/bauhaus/624x260.ogv"/>
									      </video>
									      <div class="fp-playlist">

									         <a href="http://stream.flowplayer.org/night1/640x360.mp4" class="">
									            <img src="http://farm4.staticflickr.com/3169/2972817861_73ae53c2e5_q.jpg">
									         </a>
									         <a href="http://stream.flowplayer.org/night2/640x360.mp4" class="is-active">
									            <img src="http://farm5.staticflickr.com/4044/4573206402_f625209528_q.jpg">
									         </a>
									         <a href="http://stream.flowplayer.org/night3/640x360.mp4">
									            <img src="http://farm5.staticflickr.com/4117/4870052004_c0997bcf8d_q.jpg">
									         </a>
									         <a href="http://stream.flowplayer.org/night4/640x360.mp4">
									            <img src="http://farm4.staticflickr.com/3599/3780283377_0ec748c9c7_q.jpg">
									         </a>
									      </div>
		   							</div>

								</div> <!-- end featured videos -->
							</div><!-- end r-section -->
						</div><!-- end sidebar-r -->
						
					</div><!-- end section-content -->
					<div class="row specials">
							<header>
								<h1>Featured</h1>
							</header>
							<div class="large-3 small-6 columns">
								<section class="special-item">
									<img src="/static/img/iPad.jpg">
									<h2>A look at the latest tablets</h2>
								</section>
							</div>
							<div class="large-3 small-6 columns">
								<section class="special-item">
									<img src="/static/img/infy.jpg">
									<h2>Infosys over the years</h2>
								</section>
							</div>
							<div class="large-3 small-12 columns">
								<section class="special-item">
									<img src="/static/img/zuck.jpg">
									<h2>The Immigration Reform Bill</h2>
								</section>
							</div>
							<div class="large-3 small-12 columns">
								<section class="special-item">
									<img src="/static/img/startupkids.jpg">
									<h2>The Startup Kids of India</h2>
								</section>
							</div>
							<hr>
					</div>

					<div class="row">
						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									<div class="large-4 small-4 columns">
										<div class="subsection-img">
											<img src="/static/img/google.jpg">
										</div>
									</div>
									<div class="large-8 small-8 columns">
										<header>
											<span class="news-item-label">SOFTWARE<span class="time">4 hr ago</span></span>
											<h1>Google, EU near deal on search probe: Report </h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>

						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									<div class="large-4 small-4 columns">
										<div class="subsection-img">
											<img src="/static/img/obama.jpg">
										</div>
									</div>
									<div class="large-8 small-8 columns">
										<header>
											<span class="news-item-label">INTERNET<span class="time">4 hr ago</span></span>
											<h1>Obama uses Pair app to talk to his wife: an ET exclusive</h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
					</div>
					<div class="row">
						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									<div class="large-4 small-4 columns">
										<div class="subsection-img">
											<img src="/static/img/premji.jpg">
										</div>
									</div>
									<div class="large-8 small-8 columns">
										<div class="subsection-header">
											<span class="news-item-label">ITeS<span class="time">8 hr ago</span></span>
											<h1>Wipro's Azim Premji speaks defends Infosys</h1>
											
										</div>
									</div>
								</div>
								
							</section>
						</div>
						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									<div class="large-4 small-4 columns">
										<div class="subsection-img">
											<img src="/static/img/blipkart.jpg">
										</div>
									</div>
									<div class="large-8 small-8 columns">
										<header>
											<span class="news-item-label">Internet<span class="time">4 hr ago</span></span>
											<h1>Blipkart to launch next version of platform</h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
					</div>
					<div class="row">
						<div class="large-6 small-6 columns">
							<section class="subsection">
								<div class="row">
									
									<div class="large-12 columns">
										<header>
											<span class="news-item-label">TELECOM<span class="time">8 hr ago</span></span>
											<h1>Airtel buys Canadian mobile startup</h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
						<div class="large-6 small-6 columns">
							<section class="subsection">
								<div class="row">
									
									<div class="large-12 columns">
										<header>
											<span class="news-item-label">SOFTWARE<span class="time">9 hr ago</span></span>
											<h1>Canadian software giant ThinkWorks opens up Bangalore Office</h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
					</div>
					<div class="row">
						<div class="large-6 small-6 columns">
							<section class="subsection">
								<div class="row">
									
									<div class="large-12 columns">
										<header>
											<span class="news-item-label">ITeS<span class="time">9 hr ago</span></span>
											<h1>HCL Technologies stocks skyrocket in wake of Infosys plunge</h1>
										</header>
									</div>
								</div>
								
							</section>
						</div>
						<div class="large-6 small-6 columns">
							<section class="subsection">
								<div class="row">
									
									<div class="large-12 columns">
										<header>
											<span class="news-item-label">Internet<span class="time">11 hr ago</span></span>
											<h1>8-year-old kid creates social network for kids under 13</h1>
										</header>
									</div>
								</div>
								
							</section>
						</div>
					</div>
					<div class="row">
						<div class="large-6 small-6 columns">
							<section class="subsection">
								<div class="row">
									
									<div class="large-12 columns">
										<header>
											<span class="news-item-label">TELECOM<span class="time">4 hr ago</span></span>
											<h1>Vodafone CEO hints on big acquisitions for 2013</h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
						<div class="large-6 small-6 columns">
							<section class="subsection">
								<div class="row">
									
									<div class="large-12 columns">
										<header>
											<span class="news-item-label">SOFTWARE<span class="time">4 hr ago</span></span>
											<h1>IIT Delhi students create app to report corrupt officials</h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							<section class="more-stories">
								<header class="more-stories-header"><h1>More Stories</h1></header>
								<div class="row">
									<div class="large-6 columns">
										<h2>Internet</h2>
										<ul class="more-stories-list">
											
											<li><a href="/article">Amazon lifts executive stock awards as Apple rivalry heats up</a></li>
											<li><a href="/article">Fred Wilson on Bitcoin, Airbnb and immigration</a></li>
											<li><a href="/article">PayPal acquisition brings growth hackers into the fold</a></li>
											<li><a href="/article">World markets set for second best week of year</a></li>
											<li><a href="/article">A NASDAQ of BitCoin?</a></li>
											<li class="last"><a href="/article">BitCoin issue creates unrest at Congress</a></li>

										</ul>
									</div>
									<div class="large-6 columns">
										<h2>Software</h2>
										<ul class="more-stories-list">
											
											<li><a href="#">Now a software that helps in e-learning via TV set-top boxes</a></li>
											<li><a href="#">Apple to discuss closer ties with Yahoo! </a></li>
											<li><a href="#">Free online alternatives to expensive software</a></li>
											<li><a href="#">Microsoft's Scroogled campaign takes on Google, says search giant upto nefarious things</a></li>
											<li><a href="#">Ricoh launches mobile visual search platform Ocutag</a></li>
											<li class="last"><a href="#">Cisco, IBM and others team up on new technology project</a></li>

										</ul>
									</div>
								</div>
								<div class="row">
									<div class="large-6 columns">
										<h2>Telecom</h2>
										<ul class="more-stories-list">
											
											<li><a href="/article">Clearwire considering interest payment default as Sprint deal looms</a></li>
											<li><a href="/article">BlackBerry to ask regulators to probe report on returns</a></li>
											<li><a href="/article">Airtel launches special international roaming packs</a></li>
											<li><a href="/article">Cabinet to decide on all aspects of spectrum allocation: Kapil Sibal</a></li>
											<li><a href="/article">Panel asked to submit report on spectrum allocation soon</a></li>
											<li class="last"><a href="/article">Samsung launches Galaxy Pocket Neo</a></li>

										</ul>
									</div>
									<div class="large-6 columns">
										<h2>ITeS</h2>
										<ul class="more-stories-list">
											
											<li><a href="#">India Post, TCS to sign Rs 1,400 cr IT deal on Monday</a></li>
											<li><a href="#">iGate on lookout for acquisitions</a></li>
											<li><a href="#">Europe, the hot-spot for acquisition by Indian IT companies: Experts </a></li>
											<li><a href="#">Banks that are 'too big to fail' may also be too big to succeed': Gartner </a></li>
											<li><a href="#">Q4 earnings: As 'turnaround' does a 'U'-turn, recovery remains a work in progress at Infosys</a></li>
											<li class="last"><a href="#">Infosys' BFSI vertical contributes 34% to revenues</a></li>
										</ul>
									</div>
								</div>
							</section>
						</div>

				
					</div>


					
				</div><!-- end main 10-column grid -->
				
			</div><!-- end main-content-1 -->
		</div><!-- end 10-column grid -->
	</div><!-- end container -->

	<div class="row footer">
		<div class="large-12 columns">
				<h6>This is a redesign concept of <a href="http://economictimes.indiatimes.com">The Economic Times</a> by <a href="http://twitter.com/sidjha">@sidjha</a>, a partner at <a href="http://designbyroti.com">Roti</a>.</h6>
		</div>
	</div>


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/static/js/vendor/zepto' : '/static/js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="/static/js/foundation.min.js"></script>
  <script src="/static/js/foundation/foundation.topbar.js"></script>

  <script src="/static/js/et.js"></script>
  <script>
    $(document).foundation();
  </script>

  <!-- flowplayer depends on jQuery 1.7.1+ -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
 <!-- flowplayer javascript component -->
	<script src="http://releases.flowplayer.org/5.3.2/flowplayer.min.js"></script>


  <!--
	<script src="/static/js/foundation/foundation.alerts.js"></script>
	
	<script src="/static/js/foundation/foundation.clearing.js"></script>
	
	<script src="javascripts/foundation/foundation.cookie.js"></script>
	
	<script src="javascripts/foundation/foundation.dropdown.js"></script>
	
	<script src="javascripts/foundation/foundation.forms.js"></script>
	
	<script src="javascripts/foundation/foundation.joyride.js"></script>
	
	<script src="javascripts/foundation/foundation.magellan.js"></script>
	
	<script src="javascripts/foundation/foundation.orbit.js"></script>
	
	<script src="javascripts/foundation/foundation.placeholder.js"></script>
	
	<script src="javascripts/foundation/foundation.reveal.js"></script>
	
	 <script src="/static/js/foundation/foundation.section.js"></script>
	
	<script src="javascripts/foundation/foundation.tooltips.js"></script>
	
	
-->

</body>
</html>
