
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>TOI redesign</title>

  <link rel="stylesheet" href="/static/css/normalize.css" />
  
  <link rel="stylesheet" href="/static/css/app.css" />
  <link rel="stylesheet" href="/static/css/customstyle.css">

   <!-- player skin -->
   <link rel="stylesheet" type="text/css"
      href="http://releases.flowplayer.org/5.3.2/skin/minimalist.css" />
   <link rel="stylesheet" type="text/css" href="http://flowplayer.org/designer/playlist.css" />

  <script src="/static/js/vendor/custom.modernizr.js"></script>

  <script type="text/javascript" src="//use.typekit.net/jsc1gzv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


</head>
<body>
	
	<div class="row container">
	    <div class="large-2 columns">
			<section class="sidebar-l">
				<section class="ad-top-left">
					<img src="http://placehold.it/120x240px">
				</section>
				<section class="stock-ticker">
					<h1>Markets</h1>
					<dl class="sub-nav">
					  <dd class="active" id="asia-header"><a href="#" id="target-asia">ASIA	</a></dd>
					  <dd id="eur-header"><a href="#" id="target-eur">EUR</a></dd>
					  <dd id="us-header"><a href="#" id="target-us">US</a></dd>
					</dl>
					<ul class="markets-list" id="asia-markets">
						<li>
							<h2>18242.56</h2>
							<h3>SENSEX</h3>
						</li>
						<li>
							<h2>5528.55</h2>
							<h3>NIFTY</h3>
						</li>
						<li>
							<h2>13485.14</h2>
							<h3>NIKKEI</h3>
						</li>
						<li>
							<h2>2206.78</h2>
							<h3>Shanghai</h3>
						</li>
					</ul>
					<ul class="markets-list hidden" id="us-markets">
						<li>
							<h2>3294.945</h2>
							<h3>NASDAQ</h3>
						</li>
						<li>
							<h2>1588.85</h2>
							<h3>S&P500</h3>
						</li>
						<li>
							<h2>5,086.54</h2>
							<h3>Dow Composite</h3>
						</li>
						
					</ul>
					<ul class="markets-list hidden" id="eur-markets">
						<li>
							<h2>6384.39</h2>
							<h3>FTSE 100</h3>
						</li>
						<li>
							<h2>7744.77</h2>
							<h3>DAX</h3>
						</li>
						<li>
							<h2>1182.10</h2>
							<h3>Eurofirst</h3>
						</li>
					</ul>
				</section>


				
			</section>
		</div>
		<div class="large-10 columns">
			<div class="row header">
				<div class="large-12 columns">
					<div class="row sections">
						<div class="large-2 columns">
							<section class="section-link">
							<h3>Markets</h3>
							<p>SENSEX reaches record-high</p>
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link">
							<h3>Technology</h3>
							<p>Infy acquires MyMantra for $50 mn</p>
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link">
							<h3>Finance</h3>
							<p>Mutual Funds hot to invest in for 2013	</p>
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link">
							<h3>Opinion</h3>
							<p>Warren Buffet, ET special editor on India's future</p>
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link">
							<h3>Features</h3>
							<p>Adweek India prepares to welcome the world's Mad Men</p>
							</section>
						</div>
						<div class="large-2 columns">
							<section class="section-link last-section-link">
							<h3>Blogs</h3>
							<p>Soaps creating new platform for teenage actors</p>
							</section>
						</div>
					</div>
					<div class="row news-ticker">
						<div class="large-4 columns">
							<a href="#">> Brazil calls for emergency G8 meeting </a>
						</div>
						<div class="large-4 columns">
							<a href="#">> N Korea in nuclear deal talks with US</a>
						</div>
						<div class="large-4 columns">
							<a href="#">> Facebook Q4 beats expectations</a>
						</div>
					</div>
					<div class="row section-title">
						<div class="large-12 columns">
							<header>
								<h1>Technology</h1>
							</header>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns main-c">
					<div class="row section-content">
						<div class="large-7 columns">
							<div class="row">
								<div class="large-12 columns">
									<img src="/static/img/speech.jpg">
								</div>
							</div>
							<div class="row">
								<div class="large-12 columns">
									<section class="news-item main-headline">
										<span class="news-item-label">DEALS<span class="time">1 hour ago</span></span>
										<header>
											<h1><a class="news-link" href="#">Infy acquires MyMantra for $50mn</a></h1>
										</header>
										<p>Infosys said it acquired the lifestyle startup MyMantra, amid reports that the software giant was readying its own lifestyle portal. The deal is rumoured to be valued at $49mn in cash and $1mn in stock options.</p>
									</section>
								</div>
							</div>
							<div class="row">
								<div class="large-6 columns">
									<section class="news-item">

										<span class="news-item-label">SOFTWARE<span class="time">1 hour ago</span></span>

										<header>
											<h1><a class="news-link" href="#">Now a software that helps in e-learning via TV set-top boxes</a></h1>
										</header>
										<p>City-based Centre for Development of Advanced Computing (C-DAC) has launched a new software that facilitates e-learning via set-top boxes (STBs).</p>
									</section>
								</div>
								<div class="large-6 columns">
									<section class="news-item">
										<span class="news-item-label">ITeS<span class="time">50 min ago</span></span>
										<header>
											<h1><a href="#" class="news-link">Q2 profits soar among BPO firms</a></h1>
										</header>
										<p>After Q2 earnings call, the country's top BPO firms competed for the most profitable ITES company. HCL Infosystems emerged as a clear winner.</p>
									</section>
								</div>
							</div>
							<div class="row">
								<div class="large-6 columns">
									<section class="news-item">

										<span class="news-item-label">TELECOM<span class="time">1 hour ago</span></span>

										<header>
											<h1><a class="news-link" href="#">Karbonn launches first phone on Broadcom chipsets</a></h1>
										</header>
										<p>Mobile devices company Karbonn has selected US chip maker Broadcom for its new range of 3G smartphones, following a trend where some home grown phone makers are using chipsets made by western companies. </p>
									</section>
								</div>
								<div class="large-6 columns">
									<section class="news-item">
										<span class="news-item-label">TELECOM<span class="time">50 min ago</span></span>
										<header>
											<h1><a href="#" class="news-link">ZTE launches data cards for Indian market</a></h1>
										</header>
										<p>ZTE India, a wholly-owned subsidiary of Chinese telecom equipment maker ZTE corporation, has partnered with Digilife Distribution and Marketing Services, a subsidiary of HCL Infosystems for channel distribution and Flipkart.com for its online sales.</p>
									</section>
								</div>
							</div>
						</div>
						<div class="large-5 columns">
							<div class="sidebar-r">
								<header class="r-section-header"><h1>Popular</h1></header>
								<dl class="sub-nav">
								  <dd class="active"><a href="#">Most Read</a></dd>
								  <dd><a href="#">Most Commented</a></dd>
								  <dd><a href="#">Most Shared</a></dd>
								</dl>
								<ul class="article-list">
									<li><a href="#">Twitter acquires music startup We Are Hunted</a></li>
									<li><a href="#">Warren Buffet, ET special editor on India's future</a></li>
									<li><a href="#">Q2 profits soar among BPO firms</a></li>
									<li><a href="#">Twitter acquires music startup We Are Hunted</a></li>
									<li><a href="#">Q2 profits soar among BPO firms</a></li>
									<li><a href="#">Warren Buffet, ET special editor on India's future</a></li>
									<li><a href="#">Infy acquires MyMantra for $50 mn</a></li>
									<li><a href="#">Q2 profits soar among BPO firms</a></li>
									<li><a href="#">Warren Buffet, ET special editor on India's future</a></li>
									<li><a href="#">Twitter acquires music startup We Are Hunted</a></li>
								</ul>
								<div class="featured-videos">
									 <header class="featured-videos-header"><h1>ET Tech</h1></header>
									 <div data-swf="http://releases.flowplayer.org/5.3.2/flowplayer.swf" class="flowplayer no-toggle aside-time no-volume color-light" style="width: 307px; height: 213px;">
									      <video>
									         <source type="video/webm" src="http://stream.flowplayer.org/bauhaus/624x260.webm"/>
									         <source type="video/mp4" src="http://stream.flowplayer.org/bauhaus/624x260.mp4"/>
									         <source type="video/ogv" src="http://stream.flowplayer.org/bauhaus/624x260.ogv"/>
									      </video>
									      <div class="fp-playlist">

									         <a href="http://stream.flowplayer.org/night1/640x360.mp4" class="">
									            <img src="http://farm4.staticflickr.com/3169/2972817861_73ae53c2e5_q.jpg">
									         </a>
									         <a href="http://stream.flowplayer.org/night2/640x360.mp4" class="is-active">
									            <img src="http://farm5.staticflickr.com/4044/4573206402_f625209528_q.jpg">
									         </a>
									         <a href="http://stream.flowplayer.org/night3/640x360.mp4">
									            <img src="http://farm5.staticflickr.com/4117/4870052004_c0997bcf8d_q.jpg">
									         </a>
									         <a href="http://stream.flowplayer.org/night4/640x360.mp4">
									            <img src="http://farm4.staticflickr.com/3599/3780283377_0ec748c9c7_q.jpg">
									         </a>
									      </div>
		   							</div>

								</div> <!-- end featured videos -->
							</div><!-- end r-section -->
						</div><!-- end sidebar-r -->
						
					</div><!-- end section-content -->
					<div class="row specials">
							<header>
								<h1>Featured</h1>
							</header>
							<div class="large-3 columns">
								<section class="special-item">
									<img src="http://placehold.it/175x120">
									<h2>What tablet should you buy?</h2>
								</section>
							</div>
							<div class="large-3 columns">
								<section class="special-item">
									<img src="http://placehold.it/175x120">
									<h2>Infosys over the years</h2>
								</section>
							</div>
							<div class="large-3 columns">
								<section class="special-item">
									<img src="http://placehold.it/175x120">
									<h2>A lookback at the 3G fiasco</h2>
								</section>
							</div>
							<div class="large-3 columns">
								<section class="special-item">
									<img src="http://placehold.it/175x120">
									<h2>The Startup Kids of India</h2>
								</section>
							</div>
							<hr>
					</div>

					<div class="row">
						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									<div class="large-4 columns">
										<div class="subsection-img">
											<img src="http://placehold.it/100x100">
										</div>
									</div>
									<div class="large-8 columns">
										<header>
											<span class="news-item-label">SOFTWARE<span class="time">4 hr ago</span></span>
											<h1>Google, EU near deal on search probe: Report </h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>

						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									<div class="large-4 columns">
										<div class="subsection-img">
											<img src="http://placehold.it/100x100">
										</div>
									</div>
									<div class="large-8 columns">
										<header>
											<span class="news-item-label">SOFTWARE<span class="time">4 hr ago</span></span>
											<h1>Google, EU near deal on search probe: Report </h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
					</div>
					<div class="row">
						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									<div class="large-4 columns">
										<div class="subsection-img">
											<img src="http://placehold.it/100x100">
										</div>
									</div>
									<div class="large-8 columns">
										<div class="subsection-header">
											<span class="news-item-label">SOFTWARE<span class="time">4 hr ago</span></span>
											<h1>Google, EU near deal on search probe: Report </h1>
											
										</div>
									</div>
								</div>
								
							</section>
						</div>
						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									<div class="large-4 columns">
										<div class="subsection-img">
											<img src="http://placehold.it/100x100">
										</div>
									</div>
									<div class="large-8 columns">
										<header>
											<span class="news-item-label">SOFTWARE<span class="time">4 hr ago</span></span>
											<h1>Google, EU near deal on search probe: Report </h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
					</div>
					<div class="row">
						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									
									<div class="large-12 columns">
										<header>
											<span class="news-item-label">SOFTWARE<span class="time">4 hr ago</span></span>
											<h1>Google, EU near deal on search probe: Report </h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									
									<div class="large-12 columns">
										<header>
											<span class="news-item-label">SOFTWARE<span class="time">4 hr ago</span></span>
											<h1>Google, EU near deal on search probe: Report </h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
					</div>
					<div class="row">
						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									
									<div class="large-12 columns">
										<header>
											<span class="news-item-label">SOFTWARE<span class="time">4 hr ago</span></span>
											<h1>Google, EU near deal on search probe: Report </h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									
									<div class="large-12 columns">
										<header>
											<span class="news-item-label">SOFTWARE<span class="time">4 hr ago</span></span>
											<h1>Google, EU near deal on search probe: Report </h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
					</div>
					<div class="row">
						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									
									<div class="large-12 columns">
										<header>
											<span class="news-item-label">SOFTWARE<span class="time">4 hr ago</span></span>
											<h1>Google, EU near deal on search probe: Report </h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
						<div class="large-6 columns">
							<section class="subsection">
								<div class="row">
									
									<div class="large-12 columns">
										<header>
											<span class="news-item-label">SOFTWARE<span class="time">4 hr ago</span></span>
											<h1>Google, EU near deal on search probe: Report </h1>
											
										</header>
									</div>
								</div>
								
							</section>
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							<section class="more-stories">
								<header class="more-stories-header"><h1>More Stories</h1></header>
								<div class="row">
									<div class="large-6 columns">
										<h2>Internet</h2>
										<ul class="more-stories-list">
											
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li class="last"><a href="#">World markets set for second best week of year</a></li>

										</ul>
									</div>
									<div class="large-6 columns">
										<h2>Software</h2>
										<ul class="more-stories-list">
											
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li class="last"><a href="#">World markets set for second best week of year</a></li>

										</ul>
									</div>
								</div>
								<div class="row">
									<div class="large-6 columns">
										<h2>Telecom</h2>
										<ul class="more-stories-list">
											
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li class="last"><a href="#">World markets set for second best week of year</a></li>

										</ul>
									</div>
									<div class="large-6 columns">
										<h2>ITeS</h2>
										<ul class="more-stories-list">
											
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li><a href="#">World markets set for second best week of year</a></li>
											<li class="last"><a href="#">World markets set for second best week of year</a></li>
										</ul>
									</div>
								</div>
							</section>
						</div>

				
					</div>


					
				</div><!-- end main 10-column grid -->
				
			</div><!-- end main-content-1 -->
		</div><!-- end 10-column grid -->
	</div><!-- end container -->


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/static/js/vendor/zepto' : '/static/js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="/static/js/foundation/foundation.js"></script>
  <script src="/static/js/foundation/foundation.topbar.js"></script>


   <!-- flowplayer depends on jQuery 1.7.1+ -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
     <!-- flowplayer javascript component -->
   <script src="http://releases.flowplayer.org/5.3.2/flowplayer.min.js"></script>

  <script src="/static/js/et.js"></script>
  <script>
    $(document).foundation();
  </script>


  

  <!--
	<script src="/static/js/foundation/foundation.alerts.js"></script>
	
	<script src="/static/js/foundation/foundation.clearing.js"></script>
	
	<script src="javascripts/foundation/foundation.cookie.js"></script>
	
	<script src="javascripts/foundation/foundation.dropdown.js"></script>
	
	<script src="javascripts/foundation/foundation.forms.js"></script>
	
	<script src="javascripts/foundation/foundation.joyride.js"></script>
	
	<script src="javascripts/foundation/foundation.magellan.js"></script>
	
	<script src="javascripts/foundation/foundation.orbit.js"></script>
	
	<script src="javascripts/foundation/foundation.placeholder.js"></script>
	
	<script src="javascripts/foundation/foundation.reveal.js"></script>
	
	 <script src="/static/js/foundation/foundation.section.js"></script>
	
	<script src="javascripts/foundation/foundation.tooltips.js"></script>
	
	<script src="javascripts/foundation/foundation.topbar.js"></script>
-->
</body>
</html>
